<!DOCTYPE html>
<html ng-app="koala_account">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @RenderSection("links", required: false)
</head>

<body>
    <script src="~/Content/Scripts/jquery.min.js"></script>
    <script src="~/Content/Scripts/angular.js"></script>

    <script>
        var app = angular.module("koala_account", []);
    </script>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
