<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="BaseAddress" value="http://localhost:8999" />
  </appSettings>
  <!-- connectionString -->
  <connectionStrings>
    <add name="KoalaBlogDbContext" connectionString="Data Source=ALIENWARE\ALIENWARE;Initial Catalog=KoalaBlog;Persist Security Info=True;User ID=sa;Password=Pa55word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- email sender -->
  <system.net>
    <mailSettings>
      <smtp from="mailer@ocean-hitech.com">
        <network host="smtp.exmail.qq.com" password="Pa55word" port="25" userName="mailer@ocean-hitech.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>