<style>
    /* note: this is a hack for ios iframe for bootstrap themes shopify page */
    /* this chunk of css is not part of the toolkit :) */
    body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
    }

    .F_txt {
        color: #808080;
    }

    .likeColor {
        color: #eb7350;
    }

    .footer {
        border-bottom-left-radius: 4px; 
        border-bottom-right-radius: 4px;
    }

    .ali:hover {
        color: #86c8aa;
    }

    .aoh:hover {
        box-shadow: 0 0 14px #3ec6cf;
    }
</style>

@section links
{
    <link href="~/Content/Stylesheets/compoents/icon.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/compoents/loader.css" rel="stylesheet" />    
    <link href="~/Content/Stylesheets/compoents/comment.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Content/Scripts/Services/PersonService.js"></script>
    <script src="~/Content/Scripts/Services/BlogService.js"></script>
    <script src="~/Content/Scripts/Services/ContentService.js"></script>
    <script src="~/Content/Scripts/Services/CommentService.js"></script>
    <script src="~/Content/Scripts/Filters/DiffDateFilter.js"></script>
    <script src="~/Content/Scripts/Filters/AccessInfoCNFilter.js"></script>
    <script src="~/Content/Scripts/Directives/ng-infinte-scroll.min.js"></script>
}

<script>
    app.controller('HomeController', ['$scope', 'PersonService', 'BlogService', 'ContentService', 'CommentService', function ($scope, PersonService, BlogService, ContentService, CommentService) {

        $scope.person = {};
        $scope.blog = { Content: "", AccessInfo: 2, AttachContentIds: [] };
        $scope.repostBlog = { Content: "", AccessInfo: 2 };
        $scope.repostPreview = {};
        $scope.blogs = [];
        $scope.attachContents = [];
        $scope.infiniteScroll = { isFirstTime: true, pageIndex: 1, busy: false, isLoadAll: false };
        
        $scope.getPersonInfo = function () {
            PersonService.getPersonInfo(function (data) {
                $scope.person = data;
                $scope.isGetPersonSucceeded = true;
            });
        };

        $scope.createBlog = function () {
            $scope.isCreatingBlog = true;
            BlogService.createBlog({ model: $scope.blog }, function (data) {
                $scope.isCreatingBlog = false;
                $scope.resetBlog();
                $scope.blogs.push(data);
            });
        };

        $scope.repost = function () {
            $scope.isRepostingBlog = true;
            if (!$scope.repostBlog.Content || $scope.repostBlog.Content.length === 0) {
                $scope.setRepostCommonContent($scope.repostBlog);
            }
            BlogService.createBlog({ model: $scope.repostBlog }, function (data) {
                $scope.isRepostingBlog = false;

                //close modal.
                $scope.closeRepostModal();

                $scope.blogs.push(data);

                for (var i = 0; i < $scope.blogs.length; i++) {
                    if ($scope.blogs[i].ID == data.BaseBlog.ID) {
                        $scope.blogs[i].RepostCount++;
                    }
                }
            });
        };

        $scope.getBlogs = function () {
            BlogService.getBlogs(null, function (data) {
                $scope.blogs = data;
                $scope.infiniteScroll.isFirstTime = false;
            });
        };

        $scope.loadMoreData = function () {
            if (!$scope.infiniteScroll.isFirstTime) {
                if ($scope.infiniteScroll.busy) return;
                if ($scope.infiniteScroll.isLoadAll) return;

                $scope.infiniteScroll.busy = true;
                $scope.infiniteScroll.pageIndex++;

                BlogService.getBlogs({ pageIndex: $scope.infiniteScroll.pageIndex }, function (data) {
                    if (!data || data.length === 0) {
                        $scope.infiniteScroll.isLoadAll = true;
                    } else {
                        angular.forEach(data, function (value) {
                            $scope.blogs.push(value);
                        });
                    }

                    $scope.infiniteScroll.busy = false;
                });
            }
        };

        $scope.addComment = function (blogId, comment) {
            comment.BlogID = blogId;
            CommentService.addComment({ model: comment }, function (data) { 
                for (var i = 0; i < $scope.blogs.length; i++) {
                    if ($scope.blogs[i].ID == blogId) {
                        if ($scope.blogs[i].Comments == null) {
                            $scope.blogs[i].Comments = [];
                        }
                        $scope.blogs[i].CommentCount++;
                        $scope.blogs[i].Comments.push(data);
                        $scope.resetComment($scope.blogs[i].Comment);
                        break;
                    }
                }
            });
        };

        $scope.getComments = function (blogId) {
            for (var i = 0; i < $scope.blogs.length; i++) {
                if ($scope.blogs[i].ID == blogId) {
                    $scope.blogs[i].isShowComments = !$scope.blogs[i].isShowComments;

                    var blogIndex = i;
                    if ($scope.blogs[i].isShowComments) {
                        CommentService.getComments({ blogId: blogId }, function (data) {
                            $scope.blogs[blogIndex].CommentCount = data.Item1;
                            $scope.blogs[blogIndex].Comments = data.Item2;
                            $scope.blogs[blogIndex].Comment = {};
                            $scope.isGetCommentsSucceeded = true;
                        });
                    } else {
                        $scope.blogs[blogIndex].Comments = [];
                    }

                    break;
                }
            }
        }

        $scope.reply = function (blog, commentId, to) {
            blog.Comment.BaseCommentID = commentId;
            blog.Comment.PlaceHolder = "回复" + to + ":";
        };

        $scope.blogLike = function (blog) {
            BlogService.like({ blogId: blog.ID }, function (data) {
                blog.IsLike = data.Item1;
                blog.LikeCount = data.Item2;
            });
        };

        $scope.commentLike = function (comment) {
            CommentService.like({ commentId: comment.ID }, function (data) {
                comment.IsLike = data.Item1;
                comment.LikeCount = data.Item2;
            });
        };

        $scope.collect = function (blogId) {
            BlogService.collect({ blogId: blogId }, function (data) {
                for (var i = 0; i < $scope.blogs.length; i++) {
                    if ($scope.blogs[i].ID == blogId) {
                        $scope.blogs[i].IsFavorite = data;
                        break;
                    }
                }
            });
        };

        $scope.uploadBlogImage = function (files) {
            ContentService.uploadImage(files, function (data) {
                angular.forEach(data, function (value) {
                    $scope.attachContents.push(value);
                    $scope.blog.AttachContentIds.push(value.ID);                
                });
                $scope.clearFileInput();
            });
        };

        $scope.uploadCommentImage = function (files, blogId) {
            ContentService.uploadImage(files, function (data) {
                for (var i = 0; i < $scope.blogs.length; i++) {
                    if ($scope.blogs[i].ID === parseInt(blogId)) {
                        if ($scope.blogs[i].Comment.PhotoContents == null) {
                            $scope.blogs[i].Comment.PhotoContents = [];
                        }
                        if ($scope.blogs[i].Comment.PhotoContentIds == null) {
                            $scope.blogs[i].Comment.PhotoContentIds = [];
                        }
                        angular.forEach(data, function (value) {
                            $scope.blogs[i].Comment.PhotoContents.push(value);
                            $scope.blogs[i].Comment.PhotoContentIds.push(value.ID);
                        });
                        $scope.clearCommentFileInput(blogId);
                        break;
                    }
                }
            });
        };

        $scope.deleteImage = function (contentId) {
            ContentService.deleteImage({ contentId: contentId }, function () { });
        };

        $scope.removeAttachContent = function (attachContentId) {

            $scope.deleteImage(attachContentId);

            for (var i = 0; i < $scope.attachContents.length; i++) {
                if ($scope.attachContents[i].ID == attachContentId) {
                    $scope.attachContents.splice(i, 1);
                    break;
                }
            }
            for (var i = 0; i < $scope.blog.AttachContentIds.length; i++) {
                if ($scope.blog.AttachContentIds[i] == attachContentId) {
                    $scope.blog.AttachContentIds.splice(i, 1);
                    break;
                }
            }
        };

        $scope.removeCommentPhotoContent = function (photoContentId, blog) {

            $scope.deleteImage(photoContentId);

            for (var i = 0; i < blog.Comment.PhotoContents.length; i++) {
                if (blog.Comment.PhotoContents[i].ID == photoContentId) {
                    blog.Comment.PhotoContents.splice(i, 1);
                    break;
                }
            }
            for (var i = 0; i < blog.Comment.PhotoContentIds.length; i++) {
                if (blog.Comment.PhotoContentIds == photoContentId) {
                    blog.Comment.PhotoContentIds.splice(i, 1);
                    break;
                }
            }
        };

        $scope.resetBlog = function () {
            $scope.blog.Content = "";
            $scope.blog.AccessInfo = 2;
            $scope.blog.AttachContentIds = [];
            $scope.attachContents = [];
        };

        $scope.resetRepostBlog = function () {
            $scope.repostBlog.Content = "";
            $scope.repostBlog.AccessInfo = 2;
        };

        $scope.resetComment = function (comment) {
            comment.Content = "";
            comment.PhotoContents = [];
            comment.PhotoContentIds = [];
            comment.PlaceHolder = null;
            comment.BaseCommentID = null;
        };

        $scope.clearFileInput = function () {
            angular.element(document.getElementById("imageFileInput")).val(null);
        };

        $scope.clearCommentFileInput = function (blogId) {
            angular.element($("input[id='commentImageFileInput'][value='" + blogId + "']")).val(null);
        };

        $scope.closeRepostModal = function () {            
            $scope.resetRepostBlog();
            $('#repostModal').modal('toggle');
        };

        $scope.setBlogAccessInfo = function (val) {
            $scope.blog.AccessInfo = val;
        };

        $scope.setRepostBlogAccessInfo = function (val) {
            $scope.repostBlog.AccessInfo = val;
        };

        $scope.setRepostBlogForwardBlogID = function (blog) {
            $scope.repostPreview = blog;
            $scope.repostBlog.ForwardBlogID = blog.ID;
        };

        $scope.setRepostCommonContent = function (repostBlog) {
            repostBlog.Content = "转发分享";
        };

        $scope.getBlogs();
        $scope.getPersonInfo();
    }]);

</script>

<div class="by amt" ng-controller="HomeController">

    <!--Repost Modal-->
    <div class="cd fade" id="repostModal" tabindex="-1" role="dialog" aria-labelledby="repostModal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" style="padding-top: 50px;">
            <div class="modal-avatar">
                <a href="/person" title="{{person.NickName}}">
                    <img ng-src="{{person.AvatarUrl}}" style="width: 64px; height: 64px; border-radius: 50%;" />
                </a>
            </div>
            <div class="modal-content">                
                <div class="modal-container">
                    <div class="control left">
                        <span class="nickname" ng-bind="person.NickName"></span>
                        <i class="forward mail icon"></i>
                        <span class="nickname reblog_name" ng-bind="repostPreview.Person.NickName"></span>
                    </div>
                    <div class="control right">                        
                        <a href="javascript:void(0)" ng-click="closeRepostModal()" aria-hidden="true" style="text-decoration: none; color: black;"><i class="remove icon"></i></a>
                    </div>
                </div>         
                <div class="modal-reblog">
                    <div class="reblog-list">
                        <div class="reblog-header">
                            <!-- Avatar -->
                            <img class="reblog-avatar" ng-src="{{repostPreview.Person.AvatarUrl}}" />
                            <!-- NickName -->
                            <a class="reblog-name" href="" ng-bind="repostPreview.Person.NickName"></a>
                        </div>
                        <!-- Content -->
                        <div class="reblog-content">
                            <p ng-bind="repostPreview.ContentText"></p>
                        </div>
                        <!-- Images -->
                        <div class="any" data-grid="images">
                            <div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;" ng-repeat="reBlogContent in repostPreview.Contents">
                                <img data-action="zoom" data-width="40" data-height="40" ng-src="{{reBlogContent.ContentPath}}" class="" style="width: 75px; height: 75px;">
                            </div>
                        </div>

                        <!--RepostBlog BaseBlog-->
                        <div class="WB_feed_expand" ng-if="repostPreview.BaseBlog != null">
                            <div class="W_arrow_bor W_arrow_bor_t"><i class="S_bg1_br"></i></div>
                            <div class="WB_expand S_bg1">
                                <!-- NickName -->
                                <a class="W_fb S_txt1" ng-bind="repostPreview.BaseBlog.Person.NickName"></a>
                                <!-- Content -->
                                <div class="WB_text" ng-bind="repostPreview.BaseBlog.ContentText"></div>
                                <!-- Images -->
                                <div class="any" data-grid="images">
                                    <div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;" ng-repeat="repostBlogContent in repostPreview.BaseBlog.Contents">
                                        <img data-action="zoom" data-width="40" data-height="40" ng-src="{{repostBlogContent.ContentPath}}" class="" style="width: 75px; height: 75px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Input -->
                <div class="modal-input">
                    <div class="input-container">
                        <div class="input-group">
                            <textarea placeholder="愿意的话，可以添加说明" class="form-control" ng-model="repostBlog.Content"></textarea>
                        </div>
                        <div class="input-group-addon" style="padding: 8px 0px 0px;">
                            <button class="btn btn-info" style="float: right; width: 80px;" ng-disabled="isRepostingBlog" ng-click="repost()">转发</button>
                            <div class="dropdown" style="float: right; margin-right: 5px;">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span ng-bind="repostBlog.AccessInfo | accessInfoCN"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                    <li><a href="#" ng-click="setRepostBlogAccessInfo(2)"><i class="unhide icon"></i>公开</a></li>
                                    <li><a href="#" ng-click="setRepostBlogAccessInfo(1)"><i class="users icon"></i>好友圈</a></li>
                                    <li><a href="#" ng-click="setRepostBlogAccessInfo(0)"><i class="user icon"></i>仅自己可见</a></li>
                                    <li><a href="#" ng-click="setRepostBlogAccessInfo(3)"><i class="connectdevelop icon"></i>群可见</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

    <div class="gc">
        <div class="gn">
            
            <div class="qv rc aog alu">

                @* Personal Info *@
                <div class="qx" style="background-image: url(../Content/Images/iceland.jpg)"></div>
                <div class="qw dj">
                    <!-- Avatar -->
                    <a href="/profile/shared" title="{{person.NickName}}">
                        <div ng-class="{'ui loader': true, 'active': !isGetPersonSucceeded}"></div>
                        <img class="aoh" ng-src="{{person.AvatarUrl}}" ng-show="isGetPersonSucceeded" />
                    </a>
                    <!-- NickName -->
                    <h5 class="qy">
                        <a class="aku" href="#" ng-bind="person.NickName"></a>
                    </h5>
                    <!-- Description -->
                    <p class="alu F_txt" ng-bind="person.Introduction"></p>
                    <ul class="aoi">
                        <li class="aoj">
                            <a href="#userModal" class="aku" data-toggle="modal">
                                <h3 class="ali" ng-bind="person.FollowingCount"></h3>                                
                                <span class="F_txt">关注</span>
                            </a>
                        </li>
                        <li class="aoj">
                            <a href="#userModal" class="aku" data-toggle="modal">
                                <h3 class="ali" ng-bind="person.FansCount"></h3>
                                <span class="F_txt">粉丝</span>
                            </a>
                        </li>
                        <li class="aoj">
                            <a href="/profile/shared" class="aku">
                                <h3 class="ali" ng-bind="person.BlogCount"></h3>
                                <span class="F_txt">分享</span>
                            </a>
                        </li>
                    </ul>
                </div>
                @* Personal Info *@

            </div>
        </div>

        <div class="gz">

            <!-- Input -->
            <div class="qf b aml" style="margin-bottom: 10px; padding: 15px 15px 6px !important;">
                <div class="input-group">
                    <textarea placeholder="分享新鲜事" class="form-control" ng-model="blog.Content"></textarea>
                </div>
                <div class="thumbnail-container" ng-if="attachContents.length > 0">
                    <div class="previews">
                        <div class="preview" ng-repeat="attachContent in attachContents">
                            <button class="preview-overlay dismiss" tabindex="-1" ng-click="removeAttachContent(attachContent.ID)">
                                <i class="dissmissIcon remove icon"></i>
                            </button>
                            <a href="{{attachContent.ContentPath}}" target="_blank">
                                <img ng-src="{{attachContent.ContentPath}}" style="position: absolute;" height="75" width="75" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="input-group-addon">
                    <button class="btn btn-info" style="float: right; width: 80px;" ng-disabled="blog.Content.length == 0 || isCreatingBlog" ng-click="createBlog()">发布</button>
                    <div class="dropdown" style="float: right; margin-right: 5px;">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span ng-bind="blog.AccessInfo | accessInfoCN"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a href="" ng-click="setBlogAccessInfo(2)"><i class="unhide icon"></i>公开</a></li>
                            <li><a href="" ng-click="setBlogAccessInfo(1)"><i class="users icon"></i>好友圈</a></li>
                            <li><a href="" ng-click="setBlogAccessInfo(0)"><i class="user icon"></i>仅自己可见</a></li>
                            <li><a href="" ng-click="setBlogAccessInfo(3)"><i class="connectdevelop icon"></i>群可见</a></li>
                        </ul>
                    </div>                    
                    <div class="photo-selector" style="float: left; position: relative;">
                        <button class="btn icon-btn" type="button" style="height: 34px;" ng-disabled="attachContents.length >= 6">
                            <i class="photo icon"></i>
                            图片
                        </button>
                        <div class="image-selector">
                            <div class="multi-photo-data-container hidden"></div>
                            <label class="t1-label">
                                <input id="imageFileInput" type="file" name="image" accept="image/*" class="file-input" onchange="angular.element(this).scope().uploadBlogImage(this.files)" ng-disabled="attachContents.length >= 6" />
                            </label>
                            <div class="swf-container"></div>
                        </div>
                    </div>
                </div>                
            </div>

            <div infinite-scroll="loadMoreData()" infinite-scroll-distance="0">
                <ul class="ca qo anx" ng-repeat="blog in blogs | orderBy: 'CreatedDate': true">
                    <li class="qf b aml" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                        <!-- Avatar -->
                        <a class="qj" href="#">
                            <img class="qh cu" ng-src="{{blog.Person.AvatarUrl}}" style="width: 50px; height: 50px;" />
                        </a>
                        <div class="qg">
                            <div class="qn">
                                <!-- Time -->
                                <small class="eg dp" ng-bind="blog.CreatedDate | diffdate"></small>
                                <!-- NickName -->
                                <a class="W_fb S_txt1" ng-bind="blog.Person.NickName"></a>
                            </div>
                            <!-- Content -->
                            <p class="F_txt" ng-bind="blog.ContentText"></p>
                            <!-- Images -->
                            <div class="any" data-grid="images">
                                <div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;" ng-repeat="content in blog.Contents">
                                    <img data-action="zoom" data-width="40" data-height="40" ng-src="{{content.ContentPath}}" class="" style="width: 120px; height: 120px;">
                                </div>
                            </div>

                            <!-- RepostBlog -->
                            <div class="WB_feed_expand" ng-if="blog.BaseBlog != null">
                                <div class="W_arrow_bor W_arrow_bor_t"><i class="S_bg1_br"></i></div>
                                <div class="WB_expand S_bg1">
                                    <!-- NickName -->
                                    <a class="W_fb S_txt1" ng-bind="blog.BaseBlog.Person.NickName"></a>
                                    <!-- Content -->
                                    <div class="WB_text" ng-bind="blog.BaseBlog.ContentText"></div>
                                    <!-- Images -->
                                    <div class="any" data-grid="images">
                                        <div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;" ng-repeat="repostBlogContent in blog.BaseBlog.Contents">
                                            <img data-action="zoom" data-width="40" data-height="40" ng-src="{{repostBlogContent.ContentPath}}" class="" style="width: 120px; height: 120px;">
                                        </div>
                                    </div>
                                    <div class="WB_func clearfix">
                                        <div class="WB_handle W_fr">
                                            <ul class="clearfix">
                                                <li><span class="line S_line1"><a class="S_txt2">转发 <span ng-bind="blog.BaseBlog.RepostCount" ng-show="blog.BaseBlog.RepostCount > 0"></span></a></span></li>
                                                <li><span class="line S_line1"><a class="S_txt2">评论 <span ng-bind="blog.BaseBlog.CommentCount" ng-show="blog.BaseBlog.CommentCount > 0"></span></a></span></li>
                                                <li><a class="S_txt2" title="{{blog.BaseBlog.IsLike ? '取消赞' : '赞'}}" ng-click="blogLike(blog.BaseBlog)" style="text-decoration: none;"><span class="pos"><span class="line S_line1"><span><i ng-class="{'thumbs up icon': true, 'likeColor': blog.BaseBlog.IsLike}"></i><em ng-bind="blog.BaseBlog.LikeCount" ng-show="blog.BaseBlog.LikeCount > 0"></em></span></span></span></a></li>
                                            </ul>
                                        </div>
                                        <div class="WB_from S_txt2">
                                            <small class="S_txt2" ng-bind="blog.BaseBlog.CreatedDate | diffdate"></small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </li>

                    <!-- Footer -->
                    <div ng-class="{'footer': !blog.isShowComments}" style="background-color: white; border: 1px solid #d3e0e9; border-top: 0px;">
                        <div class="WB_handle">
                            <ul class="WB_row_line WB_row_r4 clearfix S_line2">
                                <li>
                                    <a class="S_txt2" href="" style="text-decoration: none; outline: none;" ng-click="collect(blog.ID)"><span class="pos"><span class="line S_line1" ng-bind="blog.IsFavorite ? '取消收藏' : '收藏'"></span></span></a>
                                </li>
                                <li>
                                    <a class="S_txt2" data-toggle="modal" href="#repostModal" style="text-decoration: none; outline: none;" ng-click="setRepostBlogForwardBlogID(blog)">
                                        <span class="pos">
                                            <span class="line S_line1">
                                                转发
                                                <span ng-bind="blog.RepostCount" ng-show="blog.RepostCount > 0"></span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="S_txt2" href="" ng-click="getComments(blog.ID)" style="text-decoration: none; outline: none;">
                                        <span class="pos">
                                            <span class="line S_line1">
                                                评论
                                                <span ng-bind="blog.CommentCount" ng-show="blog.CommentCount > 0"></span>
                                            </span>
                                        </span>
                                        <span class="arrow" style="position: relative; display: block; top: -13px; height: 0px;" ng-hide="!blog.isShowComments"><span class="W_arrow_bor W_arrow_bor_t"><i class="S_line1"></i><em class="S_bg1_br"></em></span></span>
                                    </a>
                                </li>
                                <li>
                                    <a class="S_txt2" title="{{blog.IsLike ? '取消赞' : '赞'}}" ng-click="blogLike(blog)" style="text-decoration: none;"><span class="pos"><span class="line S_line1"><span><i ng-class="{'thumbs up icon': true, 'likeColor': blog.IsLike}"></i><em ng-bind="blog.LikeCount" ng-show="blog.LikeCount > 0"></em></span></span></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Comments -->
                    <div class="comments-container" ng-if="blog.isShowComments">
                        <div class="ui comments">
                            <div ng-class="{'comment-input': true, 'noneBottom': blog.Comments == null || blog.Comments.length == 0}">
                                @*<div class="avatar">
                            <img ng-src="{{person.AvatarUrl}}">
                        </div>*@
                                <div class="input-group" @*style="margin-left: 3.5em; height: auto;"*@ style="height: auto;">
                                    <input type="text" class="my-form-control" placeholder="{{blog.Comment.PlaceHolder != null ? blog.Comment.PlaceHolder : '写评论...'}}" ng-model="blog.Comment.Content" ng-keypress="$event.which === 13 && blog.Comment.Content.length > 0 && addComment(blog.ID, blog.Comment)" ng-style="blog.Comment.PhotoContents.length > 0 ? {'border-bottom-left-radius' : '0px'} : {}" />
                                    <div class="fj" style="width: auto;">
                                        <button type="button" ng-class="{'cg fm': true, 'noneBorderBottomRadis': blog.Comment.PhotoContents.length > 0}" style="height: 36px; border-bottom-right-radius: 4px; border-top-right-radius: 4px;" ng-style="blog.Comment.PhotoContents.length > 0 ? {'border-bottom-right-radius' : '0px'} : {'border-bottom-right-radius' : '4px'}">
                                            <i class="photo icon"></i>
                                        </button>
                                        <div class="image-selector">
                                            <input id="commentImageFileInput" type="file" name="image" accept="image/*" class="file-input" onchange="angular.element(this).scope().uploadCommentImage(this.files, this.defaultValue)" ng-value="blog.ID" />
                                            <div class="swf-container"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail-container" ng-if="blog.Comment.PhotoContents.length > 0" @*style="margin-left: 3.5em;"*@>
                                    <div class="previews">
                                        <div class="preview" ng-repeat="photoContent in blog.Comment.PhotoContents">
                                            <button class="preview-overlay dismiss" tabindex="-1" ng-click="removeCommentPhotoContent(photoContent.ID, blog)">
                                                <i class="dissmissIcon remove icon" style="top: -1px;"></i>
                                            </button>
                                            <a href="{{photoContent.ContentPath}}" target="_blank">
                                                <img ng-src="{{photoContent.ContentPath}}" style="position: absolute;" height="75" width="75" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment" ng-repeat="comment in blog.Comments | orderBy: 'CreatedDate': true">
                                <a class="avatar">
                                    <img ng-src="{{comment.Person.AvatarUrl}}">
                                </a>
                                <div class="content">
                                    <a class="author" ng-bind="comment.Person.NickName"></a>
                                    <div class="metadata">
                                        <span class="date" ng-bind="comment.CreatedDate | diffdate"></span>
                                    </div>
                                    <div class="text" ng-if="comment.BaseComment == null" ng-bind="comment.ContentText">
                                    </div>
                                    <div class="text" ng-if="comment.BaseComment != null">
                                        回复<a class="author" style="font-weight: normal;">@@{{comment.BaseComment.Person.NickName}}</a>:{{comment.ContentText}}
                                    </div>
                                    <div class="any" data-grid="images">
                                        <div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;" ng-repeat="content in comment.Contents">
                                            <img data-action="zoom" data-width="40" data-height="40" ng-src="{{content.ContentPath}}" class="" style="width: 40px; height: 40px;">
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <a class="reply" ng-click="reply(blog, comment.ID, comment.Person.NickName)">回复</a>
                                        <a class="S_txt2 like" title="{{comment.IsLike ? '取消赞' : '赞'}}" ng-click="commentLike(comment)" style="text-decoration: none;"><span class="pos"><span class="line S_line1"><span><i ng-class="{'thumbs up icon': true, 'likeColor': comment.IsLike}"></i><em ng-bind="comment.LikeCount" ng-show="comment.LikeCount > 0"></em></span></span></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </ul>

                <div class="qf b aml" style="border-top-left-radius: 4px; border-top-right-radius: 4px;" ng-show="infiniteScroll.busy">
                    <p class="text S_txt2" style="text-align: center;">正在加载中，请稍候...</p>
                </div>

            </div>
            
        </div>
        @* Blog Info *@

    </div>
</div>