<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KoalaBlog.ConnectionString" value="data source=ALIENWARE\ALIENWARE;initial catalog=KoalaBlog;user=sa;pwd=Pa55word;MultipleActiveResultSets=True;"/>
  </appSettings>
  
  <!-- EF ConnectionString -->
  <connectionStrings>
    <add name="KoalaBlogDbContext" connectionString="Data Source=ALIENWARE\ALIENWARE;Initial Catalog=KoalaBlog;Persist Security Info=True;User ID=sa;Password=Pa55word;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
