@section scripts
{
    <script src="~/Content/Scripts/Services/ContentService.js"></script>
    <script src="~/Content/Scripts/Directives/ng-infinte-scroll.min.js"></script>
}

<script>
    app.controller('ProfilePhotosController', ['$scope', 'ContentService', function ($scope, ContentService) {

        $scope.tabIndex = 2;
        $scope.ownPhotos = [];
        $scope.infiniteScroll = { isFirstTime: true, pageIndex: 1, busy: false, isLoadAll: false };

        $scope.getOwnContents = function () {
            ContentService.getOwnContents(null, function (data) {
                $scope.ownPhotos = data.Item2;
                $scope.infiniteScroll.isFirstTime = false;
            });
        };

        $scope.loadMoreData = function () {
            if (!$scope.infiniteScroll.isFirstTime) {
                if ($scope.infiniteScroll.busy) return;
                if ($scope.infiniteScroll.isLoadAll) return;

                $scope.infiniteScroll.busy = true;
                $scope.infiniteScroll.pageIndex++;

                ContentService.getOwnContents({ pageIndex: $scope.infiniteScroll.pageIndex }, function (data) {
                    if (data.Item1) {
                        $scope.infiniteScroll.isLoadAll = true;
                    } else {
                        angular.forEach(data.Item2, function (value) {
                            $scope.ownPhotos.push(value);
                        });
                    }

                    $scope.infiniteScroll.busy = false;
                });
            }
        };

        $scope.getOwnContents();
    }]);
</script>

<div ng-controller="ProfilePhotosController">
    @Html.Partial("_ProfileTabs")

    <div class="by alx" data-grid="images" infinite-scroll="loadMoreData()" infinite-scroll-distance="0">
        <div style="display: inline-block; margin-bottom: 10px; margin-right: 10px; vertical-align: bottom;" ng-repeat="photo in ownPhotos | orderBy: 'CreatedDate': true">
            <img data-width="640" data-height="400" data-action="zoom" ng-src="{{photo.ContentPath}}" style="width: 390px; height: 245px;">
        </div>
    </div>

</div>
